 :root{
  --color-fondo:#FF70A6;
  --color-bord-container: #E9FF70;
  --color-background-todo: #EDFF85;
  --title-color: #EDFF85;
  /* --color-button-delete: #9499FF; */
  --color-button-delete: #FF4B0A;
  --color-button-ADD: #70D6FF;
}

h2{
  text-align: center;
  color: var(--title-color)
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 680px;
  width: 320px;
  /* border: 2px solid red; */
  margin:15px;
  background-color: var(--color-fondo);
  border-radius: 40px;
}

.todoBlock{
  height: 70px;
  width: 270px;
  border-radius: 10px;
  background-color: var(--color-background-todo);
  box-shadow:0 1px 4px #E3FF47 , 0 0 40px  #E3FF47 inset;
  padding: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  position: relative;
}

.container{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  height: 420px;
  width: 290px;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color:var(--color-fondo) var(--color-bord-container);
  scroll-behavior: smooth;
}

.addButton{
  height: 45px;
  width: 45px;
  border-radius: 100%;
  border: none;
  background: linear-gradient(-45deg, rgba(39, 37, 37, 0.22), rgba(255, 255, 255, 0.308));
}

.deleteButton{
  height: 15px;
  width: 35px;
  background-color: var(--color-button-delete);
  color: #EDFF85;
  border-radius: 5px;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.inputSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  row-gap: 10px;
  margin:5px;
}

.buttonSection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
}

input{
  height: 40px;
  width: 290px;
  border-radius: 10px;
  padding-left: 8px;
  border: none;
  background: linear-gradient(135deg, rgba(41, 38, 38, 0.22), rgba(255, 255, 255, 0.308));
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
  -8px -8px 12px 0 rgba(219, 193, 213, 0.151);
}

  